<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.solvd.recommendation.mapper.IMovieGenresMapper">
    <resultMap id="MovieGenresResultMap" type="org.solvd.recommendation.model.MovieGenres">
        <id property="movieId" column="movie_id"/>
        <id property="genreId" column="genre_id"/>
    </resultMap>

    <select id="get" resultMap="MovieGenresResultMap">
        SELECT * FROM MovieGenres WHERE movie_id = #{movieId} AND genre_id = #{genreId}
    </select>

    <insert id="save">
        INSERT INTO MovieGenres (movie_id, genre_id) VALUES (#{movieId}, #{genreId})
    </insert>




    <delete id="delete">
        DELETE FROM MovieGenres WHERE movie_id = #{movieId} AND genre_id = #{genreId}
    </delete>

    <select id="getAll" resultMap="MovieGenresResultMap">
        SELECT * FROM MovieGenres
    </select>

</mapper>