<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.solvd.recommendation.mapper.IPersonRoleMapper">
    <resultMap id="PersonRoleResultMap" type="org.solvd.recommendation.model.PersonRole">
        <id property="personId" column="person_role_id"/>
        <id property="roleName" column="role_name"/>
    </resultMap>

    <select id="get" resultMap="PersonRoleResultMap">
        SELECT * FROM PersonRole WHERE person_role_id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="personId">
        INSERT INTO PersonRole (role_name) VALUES #{roleName})
    </insert>

    <delete id="delete">
        DELETE FROM PersonRole WHERE person_role_id = #{personId}
    </delete>

    <select id="getAll" resultMap="PersonRoleResultMap">
    SELECT * FROM PersonRole
    </select>


</mapper>