<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.solvd.recommendation.mapper.IUserInteractionMapper">
    <resultMap id="UserInteractionsResultMap" type="org.solvd.recommendation.model.UserInteraction">
        <id property="movieId" column="movie_id"/>
        <id property="userId" column="user_id"/>
        <id property="interactionsId" column="interactions_id"/>
    </resultMap>

    <select id="get" resultMap="UserInteractionsResultMap">
        SELECT * FROM UserInteractions
        WHERE movie_id = #{movieId} AND user_id = #{userId} AND interactions_id = #{interactionId}
    </select>

    <insert id="save">
        INSERT INTO UserInteractions (movie_id, user_id, interactions_id)
        VALUES (#{movieId}, #{userId}, #{interactionsId})
    </insert>

    <delete id="delete">
        DELETE FROM UserInteractions
        WHERE movie_id = #{movieId} AND user_id = #{userId} AND interactions_id = #{interactionId}
    </delete>

    <select id="getAll" resultMap="UserInteractionsResultMap">
        SELECT * FROM UserInteractions
    </select>
</mapper>